HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.db
*.mv.db
*.trace

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/mvnw
/mvnw.cmd
.mvn
/src/main/java/uk/co/zenitech/intern/client/ITunesClient.java
/src/main/java/uk/co/zenitech/intern/errorhandling/ITunesErrorHandler.java